
    <header class="container-fluid position-fixed z-2 box-shadow-inset py-2" id="navbarrista" #navbarrista>
        <section class="row h-100 justify-content-evenly vaniglia align-items-center">
            <article class="col-1">
                <p class="yeseva transition-05 fs-4 m-0 text-center">Home</p>
            </article>
            <form class="col-3">
                <input type="search" name="" id="cercaFiera" class="transition-05 w-100 py-1 searching ubuntu" style="outline: none;" placeholder="Inserisci un padiglione...">
                <!-- <label for="cercaFiera">Cerca fiera</label> -->
            </form>
            
            <article class="col-1">
                <p class="yeseva transition-05 fs-4 m-0 text-center">Login</p>
            </article>
            <article class="col-1">
                <p class="yeseva transition-05 fs-4 m-0 text-center">Register</p>
            </article>
            
        </section>
    </header>

